<% layout("./layouts/boilerplate.ejs") %>
<div class="row">
  <div
    class="alert alert-danger col-6 offset-3 mt-3 d-flex align-items-center"
    role="alert"
  >
    <%= err.message %>
  </div>
</div>
