<% layout('/layouts/boilerplate') %>

<div class="row mt-2">
  <div class="col-8 offset-2">
    <h2 class="mb-3">SignUP on Wanderlust</h2>
    <form class="needs-validation" novalidate action="/signup" method="post">
      <div class="mb-3 mt-3">
        <label for="username" class="form-label">Enter UserName : </label>
        <input
          type="text "
          id="username"
          name="username"
          required
          class="form-control"
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3 mt-3">
        <label for="email" class="form-label">Enter Email : </label>
        <input
          type="email "
          id="email"
          name="email"
          required
          class="form-control"
        />
      </div>
      <div class="mb-3 mt-3">
        <label for="password" class="form-label">Enter Psssword : </label>
        <input
          type="password"
          id="password"
          name="password"
          required
          class="form-control"
        />
      </div>

      <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <button class="btn btn-primary add-btn new-btn-green">SignUP</button>
      </div>
    </form>
  </div>
</div>
